In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('data_movies_credits')
df_recomendaciones=pd.read_csv('data_recomendaciones_final')

In [14]:
df_2=df[['belongs_to_collection', 'budget', 'genres','original_language','production_companies',
       'production_countries', 'release_date', 'revenue','spoken_languages','title','return', 'release_year', 'cast', 'crew']]

In [15]:
df_2

,belongs_to_collection,budget,genres,original_language,production_companies,production_countries,release_date,revenue,spoken_languages,title,return,release_year,cast,crew
0,Toy Story Collection,30000000.0,"['Animation', 'Comedy', 'Family']",en,['Pixar Animation Studios'],['United States of America'],1995-10-30,373554033.0,['English'],Toy Story,12.451801,1995,"['Tom Hanks', 'Tim Allen', 'Don Rickles', 'Jim...",['John Lasseter']
1,NaN,65000000.0,"['Adventure', 'Fantasy', 'Family']",en,"['TriStar Pictures', 'Teitler Film', 'Intersco...",['United States of America'],1995-12-15,262797249.0,"['English', 'Français']",Jumanji,4.043035,1995,"['Robin Williams', 'Jonathan Hyde', 'Kirsten D...",['Joe Johnston']
2,Grumpy Old Men Collection,0.0,"['Romance', 'Comedy']",en,"['Warner Bros.', 'Lancaster Gate']",['United States of America'],1995-12-22,0.0,['English'],Grumpier Old Men,0.000000,1995,"['Walter Matthau', 'Jack Lemmon', 'Ann-Margret...",['Howard Deutch']
3,NaN,16000000.0,"['Comedy', 'Drama', 'Romance']",en,['Twentieth Century Fox Film Corporation'],['United States of America'],1995-12-22,81452156.0,['English'],Waiting to Exhale,5.090760,1995,"['Whitney Houston', 'Angela Bassett', 'Loretta...",['Forest Whitaker']
4,Father of the Bride Collection,0.0,['Comedy'],en,"['Sandollar Productions', 'Touchstone Pictures']",['United States of America'],1995-02-10,76578911.0,['English'],Father of the Bride Part II,0.000000,1995,"['Steve Martin', 'Diane Keaton', 'Martin Short...",['Charles Shyer']
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45370,NaN,0.0,"['Drama', 'Action', 'Romance']",en,"['Westdeutscher Rundfunk (WDR)', 'Working Titl...","['Canada', 'Germany', 'United Kingdom', 'Unite...",1991-05-13,0.0,['English'],Robin Hood,0.000000,1991,"['Patrick Bergin', 'Uma Thurman', 'David Morri...",['John Irvin']
45371,NaN,0.0,['Drama'],tl,['Sine Olivia'],['Philippines'],2011-11-17,0.0,[''],Century of Birthing,0.000000,2011,"['Angel Aquino', 'Perry Dizon', 'Hazel Orencio...",['Lav Diaz']
45372,NaN,0.0,"['Action', 'Drama', 'Thriller']",en,['American World Pictures'],['United States of America'],2003-08-01,0.0,['English'],Betrayal,0.000000,2003,"['Erika Eleniak', 'Adam Baldwin', 'Julie du Pa...",['Mark L. Lester']
45373,NaN,0.0,[],en,['Yermoliev'],['Russia'],1917-10-21,0.0,[],Satan Triumphant,0.000000,1917,"['Iwan Mosschuchin', 'Nathalie Lissenko', 'Pav...",['Yakov Protazanov']
45374,NaN,0.0,[],en,[],['United Kingdom'],2017-06-09,0.0,['English'],Queerama,0.000000,2017,[],['Daisy Asquith']

In [13]:
df.columns

Index(['belongs_to_collection', 'budget', 'genres', 'id', 'original_language',
       'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'return', 'release_year', 'cast', 'crew'],
      dtype='object')

In [16]:
df_2.to_csv('df_2',index=False)

In [7]:
df_2=pd.read_csv('df_2')

1.- def peliculas_idioma( Idioma: str ): Se ingresa un idioma (como están escritos en el dataset, no hay que traducirlos!). 
Debe devolver la cantidad de películas producidas en ese idioma.

Ejemplo de retorno: X cantidad de películas fueron estrenadas en idioma

In [10]:
def peliculas_idioma(idioma: str):

    if type(idioma)== str:
        if idioma in y['original_language'].values:
        # Filtrar el DataFrame y obtener la cantidad de películas en el idioma especificado
            cantidad_peliculas = y[y['original_language'] == idioma]['count'].values[0]
        
            return {'idioma':idioma, 'cantidad':cantidad_peliculas}

In [11]:
peliculas_idioma('it')

{'idioma': 'it', 'cantidad': 1528}

2.- def peliculas_duracion( Pelicula: str ): Se ingresa una pelicula. 
Debe devolver la duracion y el año.
Ejemplo de retorno: X . Duración: x. Año: xx

In [228]:
def peliculas_duracion( pelicula: str ):
    if type(pelicula)== str:
        if pelicula in df['title'].values:
        # Filtrar el DataFrame y obtener la cantidad de películas en el idioma especificado
            duracion = df[df['title'] == pelicula]['runtime'].values[0]
            anio=df[df['title'] == pelicula]['release_year'].values[0]
            return {'pelicula':pelicula, 'duracion':duracion, 'anio':anio}

In [231]:
peliculas_duracion('Robin Hood')

{'pelicula': 'Robin Hood', 'duracion': 83.0, 'anio': 1973}

3.- def franquicia( Franquicia: str ): Se ingresa la franquicia, retornando la cantidad de peliculas, ganancia total y promedio
Ejemplo de retorno: La franquicia X posee X peliculas, una ganancia total de x y una ganancia promedio de xx

In [234]:
df['belongs_to_collection']

0                  Toy Story Collection
1                                   NaN
2             Grumpy Old Men Collection
3                                   NaN
4        Father of the Bride Collection
                      ...
45370                               NaN
45371                               NaN
45372                               NaN
45373                               NaN
45374                               NaN
Name: belongs_to_collection, Length: 45375, dtype: object

In [232]:
def franquicia( franquicia: str ):
    if type(franquicia)== str:
        if franquicia in df['belongs_to_collection'].values:
            y1=df[df['belongs_to_collection']==franquicia]['belongs_to_collection'].values
            cantidad_peliculas=len(y1)
            ganancia_total = sum(df[df['belongs_to_collection']==franquicia]['return'].values)
            promedio = np.mean(df[df['belongs_to_collection']==franquicia]['return'].values)
            return {'franquicia':franquicia, 'cantidad':cantidad_peliculas, 
            'ganancia_total':ganancia_total, 'ganancia_promedio':promedio}

In [235]:
franquicia('Father of the Bride Collection')

{'franquicia': 'Father of the Bride Collection',
 'cantidad': 2,
 'ganancia_total': 0.0,
 'ganancia_promedio': 0.0}

4.- def peliculas_pais( Pais: str ): Se ingresa un país (como están escritos en el dataset, no hay que traducirlos!), retornando la cantidad de peliculas producidas en el mismo.
                    Ejemplo de retorno: Se produjeron X películas en el país X

In [4]:
def peliculas_pais(pais: str):
    # Filtrar el DataFrame para obtener las películas producidas en el país especificado
    cantidad_peliculas = df[df['production_countries'].apply(lambda paises: pais in paises)].shape[0]
    
    return {'pais':pais, 'cantidad':cantidad_peliculas}

In [5]:
peliculas_pais('Philippines')

{'pais': 'Philippines', 'cantidad': 83}

5.- def productoras_exitosas( Productora: str ): Se ingresa la productora, entregandote el revunue total y la cantidad de peliculas que realizo.
Ejemplo de retorno: La productora X ha tenido un revenue de x

In [210]:
def productoras_exitosas( productora: str ):
    #Convertimos la columna tipo str a lista
    convert_to_dicc = lambda string_a_dicc: ast.literal_eval(string_a_dicc) if isinstance(string_a_dicc, str) else np.nan
    df['production_companies2'] = df['production_companies'].apply(convert_to_dicc)

    # Variables para almacenar el conteo de películas y el total de revenue
    cantidad_peliculas = 0
    revenue_total = 0
    if type(productora) == str:
        for i in df['production_companies2'].values:
            if productora in i:
                matching_rows = df[df['production_companies2'].apply(lambda x: isinstance(x, list) and productora in x)]
                matching_rows2 = pd.DataFrame(matching_rows)
                cantidad_peliculas = len(matching_rows2)
                revenue_total = matching_rows2['revenue'].sum()
                break  # Salir del bucle una vez que se encuentra la coincidencia

        return {'productora':productora, 'revenue_total': revenue_total,'cantidad':cantidad_peliculas}

In [211]:
productoras_exitosas('Twentieth Century Fox Filmm Corporation')

{'productora': 'Twentieth Century Fox Filmm Corporation',
 'revenue_total': 0,
 'cantidad': 0}

6.- def get_director( nombre_director ): Se ingresa el nombre de un director que se encuentre dentro de un dataset debiendo devolver el éxito del mismo medido a través del retorno. Además, deberá devolver el nombre de cada película con la fecha de lanzamiento, retorno individual, costo y ganancia de la misma, en formato lista.

In [238]:
def get_director(nombre_director):
    #Convertimos la columna tipo str a lista
    convert_to_dicc = lambda string_a_dicc: ast.literal_eval(string_a_dicc) if isinstance(string_a_dicc, str) else np.nan
    df['crew2'] = df['crew'].apply(convert_to_dicc)

    # Variables para almacenar el conteo de películas y el total de revenue
    retorno_total_director=[]
    peliculas=[]
    anio=[]
    retorno_pelicula=[]
    budget_pelicula=[]
    revenue_pelicula=[]
    if type(nombre_director) == str:
        for i in df['crew2'].values:
            if type(i) == list and nombre_director in i:
                matching_rows = df[df['crew2'].apply(lambda x: isinstance(x, list) and nombre_director in x)]
                matching_rows2 = pd.DataFrame(matching_rows)
                matching_rows2=matching_rows2[['title','release_year','return','revenue','budget','crew2']]
                retorno_total_director.append(matching_rows2['return'].sum())
                for i in matching_rows2['title']:
                    peliculas.append(i)
                for i in matching_rows2['release_year']:
                    anio.append(i)
                for i in matching_rows2['return']:
                    retorno_pelicula.append(i)
                for i in matching_rows2['budget']:
                    budget_pelicula.append(i)
                for i in matching_rows2['revenue']:
                    revenue_pelicula.append(i)

                break
        # Crear un diccionario para almacenar la información
        informacion = {'director':nombre_director, 'retorno_total_director':retorno_total_director, 
        'peliculas':peliculas, 'anio':anio, 'retorno_pelicula':retorno_pelicula, 
        'budget_pelicula':budget_pelicula, 'revenue_pelicula':revenue_pelicula}
        
        return informacion

In [241]:
get_director(4)

7.- Recomendar peliculas

In [11]:
def recomendacion(titulo): 
    import ast
    convert_to_dicc_2 = lambda string_a_dicc: ast.literal_eval(string_a_dicc) if isinstance(string_a_dicc, str) else np.nan
    df_recomendaciones['recomendaciones2'] = df_recomendaciones['recomendaciones'].apply(convert_to_dicc_2)
    if titulo in df_recomendaciones['titulo'].values:
        mi_string = df_recomendaciones[df_recomendaciones['titulo'] == titulo]['recomendaciones2'].iloc[0]
        return {'lista recomendada': mi_string}

In [12]:
recomendacion('Toy Story 2')

{'lista recomendada': ['Toy Story',
  'Dollman vs. Demonic Toys',
  'Silent Night, Deadly Night 5: The Toy Maker',
  'How the Toys Saved Christmas',
  'The Mouse and His Child']}